In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data_chunks/out0.csv")

In [3]:
data.head()

,Unnamed: 0,no,id,spam,source,tweet,created_at,followers_count,friends_count,hashtags,symbols,text,urls,user_description,user_id,user_location,user_name,verified
0,0,1,329850889626087424,0,5,NaN,Thu May 02 06:52:35 +0000 2013,193,135,[],[],That just seriously ruined my night..,[],NaN,69672241,"Round Lake Park, IL",Adelle,False
1,1,2,329850889856761856,0,5,NaN,Thu May 02 06:52:35 +0000 2013,128,202,[],[],@JessleaC I no they are so funny ..! I love yo...,[],NaN,921778855,NaN,hollyjay,False
2,2,4,329850889949048833,0,6,NaN,Thu May 02 06:52:35 +0000 2013,193,371,[],[],@honkwas might drive so we could go subway or ...,[],NaN,317816556,"Rugby, England",Sam Macdonald,False
3,3,6,329850889986768897,0,6,NaN,Thu May 02 06:52:35 +0000 2013,7084,826,[],[],"RT @4dize: my friends keep tellin me, that if ...",[],Allah Dulu... Allah Lagi... Allah Terus...,118916413,"The Spirit of Java, ID",Nuna ðŸŒ¸ðŸ‘¸,False
4,4,8,329850890020331520,0,6,NaN,Thu May 02 06:52:35 +0000 2013,325,609,[],[],That @brad_frost post is bourne out by my expe...,[],Front end developer with strong interest in UX...,153571843,NaN,David Moulton,False

In [4]:
data.columns

Index(['Unnamed: 0', 'no', 'id', 'spam', 'source', 'tweet', 'created_at',
       'followers_count', 'friends_count', 'hashtags', 'symbols', 'text',
       'urls', 'user_description', 'user_id', 'user_location', 'user_name',
       'verified'],
      dtype='object')

In [12]:
data.drop(['Unnamed: 0',"no","tweet","symbols"] ,axis=1, inplace=True)

In [13]:
data.head()

,id,spam,source,created_at,followers_count,friends_count,hashtags,text,urls,user_description,user_id,user_location,user_name,verified
0,329850889626087424,0,5,Thu May 02 06:52:35 +0000 2013,193,135,[],That just seriously ruined my night..,[],NaN,69672241,"Round Lake Park, IL",Adelle,False
1,329850889856761856,0,5,Thu May 02 06:52:35 +0000 2013,128,202,[],@JessleaC I no they are so funny ..! I love yo...,[],NaN,921778855,NaN,hollyjay,False
2,329850889949048833,0,6,Thu May 02 06:52:35 +0000 2013,193,371,[],@honkwas might drive so we could go subway or ...,[],NaN,317816556,"Rugby, England",Sam Macdonald,False
3,329850889986768897,0,6,Thu May 02 06:52:35 +0000 2013,7084,826,[],"RT @4dize: my friends keep tellin me, that if ...",[],Allah Dulu... Allah Lagi... Allah Terus...,118916413,"The Spirit of Java, ID",Nuna ðŸŒ¸ðŸ‘¸,False
4,329850890020331520,0,6,Thu May 02 06:52:35 +0000 2013,325,609,[],That @brad_frost post is bourne out by my expe...,[],Front end developer with strong interest in UX...,153571843,NaN,David Moulton,False

In [10]:
data.hashtags
data.symbols.unique()

array(['[]'], dtype=object)

In [15]:
data[data['spam'].isnull()]

Empty DataFrame
Columns: [id, spam, source, created_at, followers_count, friends_count, hashtags, text, urls, user_description, user_id, user_location, user_name, verified]
Index: []

In [18]:
 x = data["text"].values
y = data['spam'].values

In [19]:
x
y

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,
        0,  0,  0,  0,  0, -1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  1,  0,
        0,  0,  0,  0,  0,  0,  1,  0,  1,  0,  0,  1,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  0,  1,  0,  0,
        0,  0,  1,  1,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,
        0,  0,  0,  1,  1,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
        0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  0, -1,  0,  0,  0,  0,  0,
        0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,
        0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
        1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,
        0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,
        0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  1,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  1,  1,  1,  0,  0,  0,  0,
        0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,
        1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,
        0,  0,  1,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0])